In [ ]:
1. Create a Series object from a list of 10 items using a customized index values. 
2. Create a Series object from a dictionary of 10 items. 
3. Create a DataFrame object from a Series object with a customized index values
4. Create a DataFrame object generated from random values of 5 rows by 5 columns numpy array. Give each columns a title and each index a name.
5. Separate the DataFrame in number 4 to its individual Index, Values and Columns

In [8]:
import pandas as pd
# 1. Create a Series object from a list of 10 items with customized index
list_data = [23, 45, 12, 67, 89, 34, 56, 78, 90, 11]
custom_index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
series1 = pd.Series(list_data, index=custom_index)
print("1. Series from list with custom index:")
print(series1)

1. Series from list with custom index:
a    23
b    45
c    12
d    67
e    89
f    34
g    56
h    78
i    90
j    11
dtype: int64

In [17]:
# 2. Create a Series object from a dictionary of 10 items
dictionary_datasets={
    'age':22,
    'race':'Black',
    'Occupation':'AI Engineer',
    'height': '5:5ft',
    'Twitter': '@sirwyde',
    'Dream':'To have a chain of companies that are useful to Humainity',
    'Role_Model':'Tony Stark And Elon Musk',
    'Favorite_Streamer':'Nick J Fuentes',
    'Current_Software_I_Am_Working_On':'Purge AI',
    'Fovorite_AI_Tool':'Cursor AI'
}

Objects=pd.Series(dictionary_datasets)
print(Objects)
print('\n')

age                                                                                22
race                                                                            Black
Occupation                                                                AI Engineer
height                                                                          5:5ft
Twitter                                                                      @sirwyde
Dream                               To have a chain of companies that are useful t...
Role_Model                                                   Tony Stark And Elon Musk
Favorite_Streamer                                                      Nick J Fuentes
Current_Software_I_Am_Working_On                                             Purge AI
Fovorite_AI_Tool                                                            Cursor AI
dtype: object

In [34]:
import pandas as pd
import numpy as np
# 3. Create a DataFrame from a Series object with customized index
series3=pd.Series([18,22,49,50,76,],  index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5'])
df_from_series = pd.DataFrame(series3, columns=['Values'])
print("3. DataFrame from Series:")
print(df_from_series)
print("\n")

3. DataFrame from Series:
       Values
row 1      18
row 2      22
row 3      49
row 4      50
row 5      76

In [ ]:
# 4. Create a DataFrame from 5x5 numpy array with column titles and index names
np.random.seed(42)  # For reproducibility
random_array = np.random.rand(5, 5)
columns = ['Col1', 'Col2', 'Col3', 'Col4', 'Col5']
index_names = ['RowA', 'RowB', 'RowC', 'RowD', 'RowE']
df_random = pd.DataFrame(random_array, columns=columns, index=index_names)
print("4. DataFrame from random 5x5 array:")
print(df_random)
print("\n")

In [ ]:
# 5. Separate the DataFrame into Index, Values, and Columns
df_index = df_random.index
df_values = df_random.values
df_columns = df_random.columns

In [ ]:
#Second Assingnment

In [ ]:
#Assignment 2
Using cofee.csv  
1. Display the first 5 rows of the coffee sales DataFrame.  
2. Select only the "Coffee Type" column from the DataFrame.  
3. Select the "Units Sold" values for Wednesday using label-based indexing.  
4. Select all rows where the day is "Monday".  
5. Select all records where more than 30 units were sold.  
6. Select all rows where the coffee type is "Latte" and units sold are greater than 25.  
7. Filter the DataFrame to show only weekend sales (Saturday and Sunday).  
8. Create a filtered view showing only Espresso sales with units sold between 30 and 40 (inclusive).  
9. Filter for days where Latte sales were exactly 35 units.  
10. Sort the DataFrame by units sold in descending order.

In [37]:
import pandas as pd

# Import the CSV file
df = pd.read_csv('coffee.csv')

# Display the first few rows to verify
print(df.head())

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [38]:
# 1. Display the first 5 rows of the DataFrame
print("1. First 5 rows of the DataFrame:")
print(df.head())
print("\n")

1. First 5 rows of the DataFrame:
         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [42]:
# 2. Select only the "Coffee Type" column
print("2. Coffee Type column:")
print(df['Coffee Type'])
print("\n")

2. Coffee Type column:
0     Espresso
1        Latte
2     Espresso
3        Latte
4     Espresso
5        Latte
6     Espresso
7        Latte
8     Espresso
9        Latte
10    Espresso
11       Latte
12    Espresso
13       Latte
Name: Coffee Type, dtype: object

In [52]:
# 3. Select "Units Sold" for Wednesday using label-based indexing
wednesday_units = df.loc[df['Day'] == 'Wednesday', 'Units Sold']
print("3. Units Sold on Wednesday:")
print(wednesday_units)
print("\n")

3. Units Sold on Wednesday:
4    35
5    25
Name: Units Sold, dtype: int64

In [44]:
# 4. Select all rows where the day is Monday
monday_sales = df[df['Day'] == 'Monday']
print("4. Rows for Monday:")
print(monday_sales)
print("\n")

4. Rows for Monday:
      Day Coffee Type  Units Sold
0  Monday    Espresso          25
1  Monday       Latte          15

In [53]:
high_sales = df[df['Units Sold'] > 30]
print('Here are days for 30 Plus Units')
print(high_sales)

Here are days for 30 Plus Units
          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
6    Thursday    Espresso          40
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [59]:
# 6. Select rows where coffee type is Latte and units sold > 25
latte_high = df[(df['Coffee Type'] == 'Latte') & (df['Units Sold'] > 25)]
print("6. Latte sales with units sold > 25:")
print(latte_high)
print("\n")

6. Latte sales with units sold > 25:
         Day Coffee Type  Units Sold
7   Thursday       Latte          30
9     Friday       Latte          35
11  Saturday       Latte          35
13    Sunday       Latte          35

In [60]:
# 7. Filter for weekend sales (Saturday and Sunday)
weekend_sales = df[df['Day'].isin(['Saturday', 'Sunday'])]
print("7. Weekend sales (Saturday and Sunday):")
print(weekend_sales)
print("\n")

7. Weekend sales (Saturday and Sunday):
         Day Coffee Type  Units Sold
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [63]:
# 8. Filter for Espresso sales with units sold between 30 and 40 (inclusive)
espresso_range = df[(df['Coffee Type'] == 'Espresso') & (df['Units Sold'].between(30, 40))]
print("8. Espresso sales with units sold between 30 and 40:")
print(espresso_range)
print("\n")

8. Espresso sales with units sold between 30 and 40:
         Day Coffee Type  Units Sold
2    Tuesday    Espresso          30
4  Wednesday    Espresso          35
6   Thursday    Espresso          40

In [62]:
# 9. Filter for days where Latte sales were exactly 35 units
latte_35 = df[(df['Coffee Type'] == 'Latte') & (df['Units Sold'] == 35)]
print("9. Days with Latte sales of exactly 35 units:")
print(latte_35)
print("\n")

9. Days with Latte sales of exactly 35 units:
         Day Coffee Type  Units Sold
9     Friday       Latte          35
11  Saturday       Latte          35
13    Sunday       Latte          35

In [61]:
# 10. Sort the DataFrame by Units Sold in descending order
sorted_df = df.sort_values(by='Units Sold', ascending=False)
print("10. DataFrame sorted by Units Sold (descending):")
print(sorted_df)

10. DataFrame sorted by Units Sold (descending):
          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
2     Tuesday    Espresso          30
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
3     Tuesday       Latte          20
1      Monday       Latte          15